{#
/**
 * @file
 * Default implementation for Gif Player field.
 *
 * Available variables:
 *
 * @ingroup themeable
 */
#}

<div class="gifplayer-video">
  <img class="gifplayer"
       data-label = "{{ gif_label }}"
       data-playon = "{{ playon }}"
       data-wait = "{{ wait }}"
       data-mode = "{{ mode }}"
       width = "{{ width }}"
       height = "{{ height }}"
       src = "{{ img_cover }}"
       data-webm="{{ video }}"
       data-mp4="{{ video }}"
  >
</div>
