{#
/**
 * @file
 * Default implementation for Gif Player field.
 *
 * Available variables:
 *
 * @ingroup themeable
 */
#}
<div class="gifplayer-gif">
  <img class="gifplayer"
       data-label = "{{ gif_label }}"
       data-playon = "{{ playon }}"
       data-wait = "{{ wait }}"
       data-mode = "{{ mode }}"
       width = "{{ width }}"
       height = "{{ height }}"
       data-gif = "{{ gif }}"
       src = "{{ img_cover }}"
  >
</div>
